h1{
    color:black;
    text-align: center;
    }
.form-container {
    display:flex;
    justify-content: center;
}
.form-center {
	display:flex;
	justify-content: center;
}




.image-submit{
    margin: 0 auto;
}

    